<!DOCTYPE html>
<html>
  <head>
    <title> Careers</title> 
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      #banner{
        height:350px;
        width:100%;
        object-fit:cover;
      }
      
        
      
    </style>
    
  </head>
  
<body>
  <div  class="container">
  <h1 class="text-center mt-2 mb-4">
    careers</h1>
  <img class="img-fluid" 
 id ="banner" src="https://carrieswebsite-flask.gopigunaganti.repl.co/static/banner.jpg">
 
  <h2 class="text-center  mt-4 mb-2"> About {{company_name}} </h2>
  <p  class="lead">Economic Stability: Jobs play a crucial role in providing individuals and their families with financial stability. Employment allows people to earn income, meet their basic needs, support their dependents, and contribute to the overall economy.Personal Development: Jobs provide opportunities for personal growth and development. They allow individuals to gain new skills, acquire knowledge, and expand their expertise. With each job experience, individuals can enhance their professional capabilities and improve their future career prospects.
    
      </p>
    <h2 class="text-center" >Open Positions</h2>
    <div>
      {% for job in jobs %}
        {% include 'jobitems.html' %}

            
       {% endfor %}
    </div>

      

      <div style=text-align:center>
      <button class="btn btn-primary btn-lg mt-2 mb-4">contact us </button>
  <p > Copyright.All Rights Reserved</p>
  <div>
  
  
</body>
  </div>
  
</html>