<div style="margin-bottom:16px;">
  <h4 
style="color:rgb(150,150,150);margin-bottom:4px;">{{job['position']}}
  </h4>
  <div>
    <b>Location: </b>{{job['location']}}
  </d>

  
  <div class="border-bottom" style="margin-bottom:16px;padding-bottom:4px;">
  <b>Salary: </b>{{job['salary']}}
    <h6 class="margin-top:16px;">
        <a href ="mailto:gopigunaganti143@gmail.com?subject=application%20for%20{{job['position']}}&body=my%20name%3A%3Cyour%20name%20%3E%0D%0Amy%20resume%20%3A%20%3Cresume%20link%3E%0D%0Amy%20linkedIn%20link%3A%20%3ClinkedIn%20link%3E" type="button" class="btn btn-outline-primary">Apply</a>
    
    </h6>
  
  </div>
    


</div>